.if-btn-container {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.update-task-btn,
.cancel-btn {
  align-items: center;
  background-color: var(--color-light);
  display: flex;
  padding: 0;
  width: min-content;
}
